body{
    font-family: Arial;
    margin: 0;
    text-align: center;
}
header{
    background: grey;
    color: white;
    padding: 15px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
main{
    padding:40px;
}
.participants{
display:grid;
grid-template-columns:repeat(3,120px);
gap:20px;
justify-content:center;
margin-top:30px;
}